#map{
    width: inherit;
    height: inherit;
}

.div-icon {
    width: auto;
    height: auto;
    color: #f7ecc0;;
    font-size: 1.7vh;
}

.div-icon:hover {
    width: auto;
    height: auto;
    font-size: 2.5vh;
    color: rgb(253, 243, 214);
}

.div-icon.endpoint {
    cursor: pointer;
    font-size: 2vh;
    color: rgb(253, 243, 214);
}

.container {
    width: 100%;
    height: 100%;
}



